body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background:linear-gradient(rgb(51, 50, 50), rgb(241, 236, 236))
}

.title{
    margin-bottom: 10px;
    text-align:center;
    width: 410px;
    height: auto;
    color:red;
    background-color: black;
    font-size: 25px;
    font-weight: 900;
    padding: 10px;
    border: solid black 2px;
    }

    #table{
        width: 434px;
        text-align: center;
        box-shadow: 2px 2px 15px black;
    }
    input[type="button"]
    {
    background-color:rgb(45, 45, 49);
    color: rgb(247, 247, 247);
    border: solid rgb(105, 12, 12) 1px;
    width:100%;
    padding: 12px;
    font-weight: 900;
    font-size: 15px;
    }

    input[type="text"]
    {
    background-color:white;
    border: solid black 3px;
    box-shadow: 2px 2px 2px rgb(15, 19, 15);
    width:100%;
    padding: 15px;
    font-size: large;
    font-weight: 600;
    background: linear-gradient(rgb(20, 12, 12) , rgb(236, 227, 228));
    
    }
 